{% extends "common.html" %}
    {% block title %}Login{% endblock title %}
        {% load static %}
        {% block content %}

        <section class="bg-light-shadow py-5 p-2">
            <section class="container border border-3 col-lg-4 p-5 bg-light" style="border-radius: 10px; margin-top: 50px; height: max-height;">
                <!-- #97a9eb -->
                <h3 class="text-color-primary">Enter Login Details...</h3>
                <form method="post">
                    {% csrf_token %}
                    {% load bootstrap %}

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {% endif %}

                    {{form|bootstrap}}
                <button type="submit" class="btn" style="color: white; background-color: rgb(140,160,233);">Login</button>
                {% comment %} rgb(167, 154, 142) {% endcomment %}
                 <a href="{% url "password_reset" %}" class="text-decoration-none">Forgot Password</a>
                </form>
           </section>
        </section>

        {% endblock content %}
