{% extends "common.html" %}
{% block title %}Reset Password{% endblock title %}
    {% load static %}
        {% block content %}
        <section class="py-5 p-1">
            <section class="container border border-3 col-lg-4 p-5 bg-light-shadow" style="border-radius: 10px; margin-top: 50px; height: max-height;">
                <h3 class="text-center fw-bold">RESET PASSWORD</h3>
                <p class=''>Enter email address to recieve the password reset link.</p>
                <form method="post">
                    {% csrf_token %}
                    {% load bootstrap %}
                    {{form|bootstrap}}
                
                <button type="submit" class="btn" style="color: white; background-color: rgb(167, 154, 142);">Send</button>
            </form>
            </section>
        </section>
        {% endblock content %}