{% extends "common.html" %}
{% block title %}Password Reset Complete{% endblock title %}Password RESET DONE
{% load static %}
    {% block content %}
        <section class="my-5 py-5 p-1">
            <section class="container border border-3 col-lg-4 p-5 bg-light-shadow" style="border-radius: 10px; margin-top: 50px; height: max-height;">
                <h3 class="text-center fw-bold">RESET PASSWORD</h3>
                <p style="font-size: 18.5px;">✅ Password reset successful</p>
            </section>
        </section>
    
    {% endblock content %}

